body {
	background-image: url("../image/large.jpg");
	background-size: cover; }

.container-fluid {
	position: relative;
	top: 120px;
}


#formulario {
	width: 70%;
	height: 400px;
	background: white;
	margin: 0 auto;
	border-top: 3px solid blue; }
 
 span {
 	color: red;
 }
.enlace1, .enlace2, .enlace3 {
	margin-left: 150px; }

.uno {
	margin-left: 65px;
	width: 300px; }
.dos {
	margin-left: 84px;
	width: 300px; }
.tres {
	margin-left: 5px;
	width: 300px;
	padding-bottom: 70px; }

.inp {
	margin-left: 340px;
	margin-top: 10px;
}

button {
	border: 0px;
	border-radius: 5px;
	background: #6ba9da;
	color: white;
	margin-left: 290px;
}