body {
	margin: 0;
	padding: 0;  }

/*---------------------------------------------------------------------------------------------------HEADER*/
header {
	background-image: url("../image/large.jpg");
	background-size: cover;
	background-attachment: fixed;
	width: 100%;
	margin: 0 auto;
	color: white; }

header .opacity {
	background-color: rgba(76, 83, 89, 0.5); }

header img {
	margin-top: 13%; }

header .list-inline {
	float: right;
	margin-top: 5%;  }

header .list-inline a {
	color: white;
	font-size: 18px;   }

header .frase {
	width: 60%;
	margin-left: 18%;
	position: absolute;
	top: 20%; 
	display: inline-block;  }

header .frase h2 {
	font-size: 255%;  }
/*------------------------------------------------------------------------------------------HEADER-BANNER*/
.header-banner button {
	border: 1px solid white;
	border-radius: 2px;
	font-size: 18px;
	background: rgba(97, 146, 203, 0.4);
	margin-top: 8%;
	width:150px;
    height:30px; 
     }

.header-banner {
	background-color: rgba(41, 124, 222, 0.6);
	width: 100%;
	margin-top: 37%;
	text-align: center;
	padding: 3% 0  }
/*------------------------------------------------------------------------------------------------SERVICES*/
.services {
	width: 100%;
}


.services h3, .icon-container i {
	color: #91c2ff;
}

.services h3 {
	margin: 8% auto;
}

.icon-container i {
	font-size: 30px;
	margin-left: 48%;
	display: inline-block;
}

.services h4 {
	margin-top: 20%;
	text-align: center;
	color: #7a94ae;
}

.services p {
	text-align: center;
	color: #838383;
	margin-top: 7%;
	margin-bottom: 10%; }

.services .sep-0 {
	margin-left: 48%;
	margin-bottom: 7%;
	margin-top: -3%;
	height: 60px;  }

/*-----------------------------------------------------------------------------------------FUNCIONES DE PAG*/
.ejemplo h3 {
	color:  #91c2ff;
	font-size: 33px;
	margin-bottom: 4%; }

.ejemplo h3 img {
	height: 60px;  }

.ejemplo p {
	color: #838383; }

.ejemplo p span {
	color: #7a94ae ;
	margin: 4px 0; }

.ejemplo .sep-1 {
	margin-left: 40%;
	margin-top: 1%; margin-bottom: 3%;
	height: 40px; }

.ejemplo .img-1 {
	height: 470px;
	width: 100%;
	margin-top: 10%;
	margin-bottom: 3%;
	background-color: rgba(76, 83, 89, 0.4);
}
.ejemplo .columna6 {
	margin-top: 2%;
}

.ejemplo .text {
	margin-top: 18%;
	margin-left: 5%;
	width: 95%; }

.text p {
	margin-bottom: 4%; }

.ejemplo h2 {
	color: #50565c;
	margin-bottom: 5%; }

.ejemplo h4 {
	color: #91c2ff; }

.ejemplo ul {
	color:  #7a7f84; }

.ejemplo ul li {
	margin-bottom: 3%; }

.ejemplo .sep-2 {
	margin-left: 48%;
	margin-bottom: 7%;
	margin-top: -3%;
	height: 80px; }
/*---------------------------------------------------------------------------------------RAZONES DE USARLO*/
.razon h3 {
	color:  #91c2ff;
	font-size: 33px;
	margin-bottom: 3% }

.razon h3 img {
	height: 60px; }

.razon .img-2 {
	height: 400px;
	width: 100% }

.razones .top {
	margin-top: 6%;
}

.razon p {
	margin-bottom: 4%;
	color: #838383; }

.razon p span {
	color: #6ba9da ;
	margin: 4px 0; }

.razon h2 {
	color: #50565c;
	margin-bottom: 5%; }

.razon h4 {
	color: #91c2ff; }

.razon ul {
	color:  #7a7f84; }

.razon ul li {
	margin-bottom: 3%; }
/*---------------------------------------------------------------------------------------------------FOOTER*/
.footer-banner button {
	border: 1px solid white;
	color: white;
	border-radius: 2px;
	font-size: 18px;
	background: rgba(97, 146, 203, 0.4);
	margin-top: 8%;
	width:150px;
    height:30px;   }

.footer-banner {
	color: white;
	margin-top: -30%; }

footer {
	background: #2a3541; }

footer p {
	color: white;
	margin: 3% 6%; }

footer p span {
	color: #6ba9da; }

footer i {
	color: #6ba9da;
	font-size: 30px;
	margin-top: 4%; }

footer small {
	color: white; }

footer .icon {
	margin-top: 12%; }
	  
/*---------------------------------------------------------------------------------------------------MEDIA*/

@media screen and (max-width:920px){
    .container{
        width: 600px;
    }

    header {
    	width: 100%;
    }

    header .frase h2 {
	font-size: 180%;  }

	header .list-inline {
	float: right;
	margin-top: 5%;  }

header .list-inline a {
	color: white;
	font-size: 15px;   }

   } 
@media screen and ( max-width:600px){
     
    .container{
        width: 100%;
    }

header .frase h2 {
	font-size: 140%; 
	margin-top: -5%; }

    .list-inline{
        display: none;
    }
    
    .col-md-6, .col-md-4, .col-md-7, col-md-5{
        width: 100%;
    }
    .block-form{
        margin: 0;
    }
    
    
}