body {
	margin: 0;
	padding: 0;  }

/*---------------------------------------------------------------------------------------------------HEADER*/
header{
    background-image: url(../image/large.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /*height: 600px;*/ 
}
header, .header-banner{
    color: white;
}
.opacity{
    /*height: 600px;*/
    background-color: rgba(0,0,0,0.3);
}

.icon-menu{
	display: none;
}

header nav ul li a{
    font-size: 18px;
    padding-left: 20px;
    color: white;
}
header nav ul li a:hover{
    text-decoration: none;
    color: #98cbdb;
    background-color: #f5f9fd;
    padding-left: 5px;
    padding: 10px;
}
.frase{
    margin:159px;
}
.frase h2{
	  font-size: 230%;
}
.header-banner{
    background-color: rgba(84,126,183,0.8);
    position: relative;
    padding-top: 20px;
    padding-bottom: 20px;
}
button{
    background-color: rgba(84,126,183,0.8);
    border:solid 1px white;
    padding: 10px 40px;
    font-size: 100%;
    margin-top: 15px;
}
.header-banner p{
    font-size: 12px;
}
/*------------------------------------------------------------------------------------------------SERVICES*/
.services {
	width: 100%;
}


.services h3, .icon-container i {
	color: #91c2ff;
}

.services h3 {
	margin: 8% auto;
}

.icon-container i {
	font-size: 30px;
	margin-left: 48%;
	display: inline-block;
}

.services h4 {
	margin-top: 20%;
	text-align: center;
	color: #7a94ae;
}

.services p {
	text-align: center;
	color: #838383;
	margin-top: 7%;
	margin-bottom: 10%; }

.services .sep-0 {
	margin-left: 48%;
	margin-bottom: 7%;
	margin-top: -3%;
	height: 60px;  }

/*-----------------------------------------------------------------------------------------FUNCIONES DE PAG*/
.ejemplo h3 {
	color:  #91c2ff;
	font-size: 33px;
	margin-bottom: 5%; }

.ejemplo h3 img {
	height: 62px;  }

.ejemplo p {
	color: #838383; }

.ejemplo p span {
	color: #7a94ae ;
	margin: 4px 0; }

.ejemplo .sep-1 {
	margin-left: 40%;
	margin-top: 1%; margin-bottom: 3%;
	height: 40px; }

.ejemplo .img-1 {
	height: 470px;
	width: 100%;
	margin-top: 10%;
	margin-bottom: 5%;
	
}
.ejemplo .text {
	margin-top: 12%;
	margin-left: 5%;
	width: 95%; }

.text p {
	margin-bottom: 4%; }

.ejemplo h2 {
	color: #50565c;
	margin-bottom: 5%; }

.ejemplo h4 {
	color: #91c2ff; }

.ejemplo ul {
	color:  #7a7f84; }

.ejemplo ul li {
	margin-bottom: 3%; }

.ejemplo .sep-2 {
	margin-left: 48%;
	margin-bottom: 7%;
	margin-top: -3%;
	height: 80px; }
/*---------------------------------------------------------------------------------------RAZONES DE USARLO*/
.razon h3 {
	color:  #91c2ff;
	font-size: 33px;
	margin-bottom: 5% }

.razon h3 img {
	height: 60px; }

.razon .img-2 {
	height: 400px;
	width: 100% }

.razon p {
	margin-bottom: 4%;
	color: #838383; }

.razon p span {
	color: #6ba9da ;
	margin: 4px 0; }

.razon h2 {
	color: #50565c;
	margin-bottom: 5%; }

.razon h4 {
	color: #91c2ff; }

.razon ul {
	color:  #7a7f84; }

.razon ul li {
	margin-bottom: 3%; }
/*---------------------------------------------------------------------------------------------------FOOTER*/
.footer-banner button {
	border: 1px solid white;
	color: white;
	border-radius: 2px;
	font-size: 18px;
	background: rgba(97, 146, 203, 0.4);
	margin-top: 8%;
	width:150px;
    height:30px;   }

.footer-banner {
	color: white;
	margin-top: -30%; }

footer {
	background: #2a3541; }

footer p {
	color: white;
	margin: 3% 6%; }

footer p span {
	color: #6ba9da; }

footer i {
	color: #6ba9da;
	font-size: 30px;
	margin-top: 4%; }

footer small {
	color: white; }

footer .icon {
	margin-top: 12%; }
	  
/*---------------------------------------------------------------------------------------------------MEDIA*/

@media screen and (max-width:920px){
    .container{
        width: 600px;
    }
     

    header {
    	width: 100%;
    }

	header .frase {
		margin: 150px;
    }


    header .frase h2 {
	font-size: 200%;  }

	header nav ul {
	
	margin-top: 5%;  }

header .list-inline a {
	color: white;
	font-size: 15px;   }

   } 
@media screen and ( max-width:600px){
     
    .container{
        width: 100%;
    }

header .frase h2 {
	font-size: 180%; 
	margin-top: -5%;}

	.icon-menu{
	display: inline-block;
	float: right;
	color: white;
	font-size: 30px; 
}


    header nav ul {
		display: none; }
    
    .col-md-6, .col-md-4, .col-md-7, col-md-5{
        width: 100%;
    }
    .block-form{
        margin: 0;
    }

    header .frase {
		margin: 140px;
    }
}

@media screen and ( max-width:510px){
	header nav ul {
		display: none; }

	header .frase {
		margin: 60px;
    }


